.footer{
    position:sticky;
    z-index: 999;
    bottom:0px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top:2%;
    color:rgba(255, 255, 255, 0.507);
    font-size: .8em;
}