.mainPage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.boardContainer{
    display:flex;
    flex-wrap: wrap;
    max-width:39.6em;
    margin-left:2em;
    z-index:999;
    background-image: url("https://media.giphy.com/media/CF1PeWOAv68la/giphy.gif");
    background-size: cover;

}
.boardPiece{
    min-height: 3.3em;
    border: 1px solid black;
    background-color: whitesmoke;
    min-width: 3.3em;
    img{
        height: 3em;
    }
}
.pieceInfoCont{
    font-family: Endor;
    width:20%;
    border: .2em solid  rgba(0, 0, 0, .4);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    background-color: rgba(192, 192, 192, .8); 
    height: 40em;
    color:white;
    text-align: center;
    padding-bottom: .5em;
    h2{
        font-size: 4em;
    }

}
.inPlayCont{
    font-family: Endor;
    height: 40em;
    color:white;
    text-align: center;
    width:20%;
    border: .2em solid  rgba(0, 0, 0, .4);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    background-color: rgba(192, 192, 192, .8); 
}
.boardArea{
    display: flex;
    justify-content: center;
    height: auto;
    width: 50%;
}
.imgContInPlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    height: auto;
    // width: 5em;
    img{
        max-height: 8em;
        margin-top: 1em;
    }
}
.pieceInfoTitle{
    min-height:13%;
    max-height:13%;
}
.pieceInfoDisplay{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-width:87%;
    max-height:87%;
    img{
        align-self: center;
        height: 12em;
        margin-top: -1.5em;

    }
    h4{
        font-size: 3.4em;
    }
    h6{
        margin-left:.1em;
        text-align: left;
        font-size: 3em;
        margin-top: -.2em;
    }
    
}
.infoImage{
    min-height:30%;
    max-height:30%;
}
.infoText{
    min-height:20em;
    max-height:20em
}

.potential {
    background-color: rgba(0, 0, 255, 0.488);
}
.player1Unit{
    background-color:rgba(128, 0, 128, 0.507)
}
.player2Unit{
    background-color:rgba(167, 167, 0, 0.521)
}
