.mainPage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.boardContainer{
    display:flex;
    flex-wrap: wrap;
    max-width:39.6em;
    margin-left:2em;
    z-index:999;

}
.boardPiece{
    min-height: 3.3em;
    border: 1px solid black;
    background-color: whitesmoke;
    min-width: 3.3em;
    img{
        height: 3em;
    }
}
.pieceInfoCont{
    font-family: Deutsch;
    width:30%;
    border: .2em solid  rgba(0, 0, 0, .4);
    background-color: rgba(192, 192, 192, .8); 
    height: 40em;
    color:black;
    text-align: center;
    padding: .5em;
    margin-left: .2em;
    margin-right: .2em;
    h2{
        font-size: 4em;
    }

}
.inPlayCont{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: deutsch;
    height: 40em;
    text-align: center;
    width:30%;
    border: .2em solid  rgba(0, 0, 0, .4);
    background-color: rgba(192, 192, 192, .8); 
    padding:3em;
    .row{
        justify-content: space-between;
    }
    h3{
        font-size: 2.5em;
        font-family: Deutsch;
        text-shadow: none;

    }
    h2{
        font-size: 5em;
        text-align: center;
    }
    button{
        width: 2.5em;
        font-family: endor;
        font-size: 2.5em;
        box-shadow: 0px 00px .1em .1em rgba(82, 82, 82, 0.7);
        color:black;

        &:hover{
            -webkit-transform: scale(1.2);
            transform: scale(1.1);
            color:rgb(245, 115, 115);
        
    }
    }
    .middle{
        justify-content: center;
    }
    .purple{
        color:rgba(128, 0, 128, 0.507);
        text-shadow: 2px 0px black;
    }
    .yellow{
        color:rgba(167, 167, 0, 0.521);
        text-shadow: 2px 0px black;

    }
}
.boardArea{
    display: flex;
    justify-content: center;
    height: auto;
    width: 50%;
}
.imgContInPlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    height: auto;
    // width: 5em;
    img{
        max-height: 8em;
        margin-top: 1em;
    }
}
.helpBtn{
    display: flex;
    align-content: center;
    opacity: .8;
}
.pieceInfoTitle{
    min-height:13%;
    max-height:13%;
}
.pieceInfoDisplay{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-width:87%;
    max-height:87%;
    img{
        align-self: center;
        height: 12em;
        margin-top: -1.5em;

    }
    h4{
        font-size: 3.4em;
    }
    h6{
        margin-left:.1em;
        text-align: left;
        font-size: 1.7em;

        margin-top: -.6em;
    }
    
}
.infoImage{
    display:flex;
    justify-content: flex-end;
    min-height:25%;
    max-height:25%;
}
.infoText{
    min-height:30em;
    max-height:30em;
    display: flex;
    flex-direction: column;
    h6{
    font-family: deutsch;
    flex-direction: row;
    }
    .graphTextCont{
        display: flex;
        margin-bottom: .2em;
        flex-direction: column;
    }
}

.potential {
    background-color: rgba(0, 0, 255, 0.488);
}
.attack {
    background-color: rgba(255, 0, 0, 0.502)
}
.player1Unit{
    background-color:rgba(128, 0, 128, 0.507)
}
.player2Unit{
    background-color:rgba(167, 167, 0, 0.521)
}
.red{
    color:rgb(245, 115, 115);
}
.blue{
    color: rgba(0, 0, 255, 0.488);
}
.purple{
    color:rgba(128, 0, 128, 0.507);
    text-shadow: 2px 0px black;
}
.yellow{
    color:rgba(167, 167, 0, 0.521);
    text-shadow: 2px 0px black;

}
.setButton{
    min-width: 30%;
    font-family: deutsch;
    font-size: 3em;
    box-shadow: 0px 00px .1em .1em rgba(82, 82, 82, 0.797);
    color:#BCBBB6;
    margin-left: 5em;
    margin-right: 9.3em;
    
    
    &:hover{
        -webkit-transform: scale(1.2);
        transform: scale(1.1);
        color:whitesmoke;
    }
}
.victoryCont{
    display:flex;
    flex-direction: column;
    align-items: center;
    button{
        box-shadow: 0px 00px .1em .1em rgba(218, 153, 32, 0.797);
        color:#BCBBB6;
        min-width: 50%;
        padding-left:11.1%;
        background-color: rgba(0, 0, 0, 0.527);
        border-radius: 5%;
    }
    .victory{
        font-family: Deutsch;
        font-size: 10em;
        color:rgb(218, 153, 32);
    }
}
.hidden{
    display:none;
}
.graphText {
    font-family: Deutsch;
}
.modal{
    font-family: Deutsch;
}
.help{
    display: flex;
    justify-content: center;
    button{
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        width: 7em;
    }
}
