<div class="victoryCont {{gameOver === true ? '':'hidden'}}">
  <button class="btn-dark" routerLink=''>
    <h1 class="victory row"><b>VICTORY!<br> {{winner}}!</b></h1>
  </button>
</div>

<div class="mainPage {{gameOver ? 'hidden': ''}}">
  <div>
    <button class="setButton btn-dark cancelbtn {{start === true ? 'hidden' : ''}}"
      (click)="this.setBoard()">Set the Board</button>
  </div>
  <div class="boardArea {{start=== true ? '' : 'hidden'}}">
    <div class="boardContainer" *ngIf="start">
      <div *ngFor="let position of this._TrolltollService.board" id={{position.id}}
        (click)="movePiece($event)" class="boardPiece  {{position.player === 1 ? 'player1Unit' : position.player === 2 ? 'player2Unit' : position.potentialMove ? 'potential' : position.potentialAttack ? 'attack': ''}}">
        <img (mouseover)="populateInfo(position.piece)" src="{{position.piece.type=== 'Knight' ? position.piece.image : position.piece.type === 'Mage' ? position.piece.image : position.piece.type === 'Ranger' ? position.piece.image : position.piece.type === 'Cleric' ? position.piece.image : ''}}">
      </div>
    </div>
  </div>
  <div class="inPlayCont">
    <h2 class="row middle {{currentPlayer ? 'purple' : 'yellow'}}">{{currentPlayer
      ? 'Player 1' : 'Player 2'}}</h2>
    <div class='row'>
      <h3 class="
      {{selectPiecePhase ? currentPlayer ? 'purple' : 'yellow' : ''}}">Select a Unit</h3>
      <button (click)="
      deselectUnit()">Deselect</button>
    </div>
    <div class='row'>
      <h3 class="{{movePiecePhase ? 'blue' : ''}}">Move Unit</h3>
      <button (click)="noMove()">No Move</button>

    </div>
    <div class='row'>
      <h3 class="{{initiateAttackPiece ? 'red' : ''}}">Attack</h3>
      <button (click)="skipAttack()">No Attack</button>
    </div>
    <div class='row middle'>
      <button (click)="skipAttack()">End Turn</button>
    </div>
    <div class='row middle'>
      <h3>Timer</h3>
      <button class="setButton btn-danger helpBtn">Help</button>
    </div>
  </div>
  <div class="pieceInfoCont">
    <div class="pieceInfoTitle">
      <h2>{{selectedPiece.type}}</h2>
    </div>
    <div class="pieceInfoDisplay ">
      <div class="infoImage row">
        <img class src="{{selectedPiece.image}}" />
      </div>
      <div>

      </div>
      <div class="infoText">
        <div style="height:10vh; width:20vw" class="graphTextCont"> 
          <h6 class="graphText ">Health: <canvas id="healthChart" position="right"width="200px" height="25px"></canvas></h6>
          
        </div>
        <div style="height:10vh; width:20vw" class="graphTextCont">
          <h6 class="graphText row">Attack: <canvas id="attackChart" width="200px" height="25px"></canvas></h6>
        </div>
        <div style="height:10vh; width:20vw" class="graphTextCont">
          <h6 class="graphText row">Defense: <canvas id="defenseChart" width="200px" height="25px"></canvas></h6>
        </div>
        <div style="height:10vh; width:20vw" class="graphTextCont">
          <h6 class="graphText row">Attack Range: <canvas id="attackRangeChart" width="200px" height="25px"></canvas></h6>
        </div>
        <div style="height:10vh; width:20vw" class="graphTextCont"> 
          <h6 class="graphText row">Move Range: <canvas id="moveRangeChart" width="200px" height="25px"></canvas></h6>
        </div>
        <div style="height:10vh; width:20vw" class="graphTextCont">
          <h6 class="graphText row">Cool Down: <canvas id="coolDownChart" width="200px" height="25px"></canvas></h6>
        </div>
      </div>
    </div>
  </div>
</div>